<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><r:breadcrumb /> &mdash; DesignDioxide</title>
    <link rel="stylesheet" href="/stylesheets/do2.css" type="text/css" title="no title" charset="utf-8">
  </head>
  <body>
    <h1 class="site"><a href="/"><img src="/images/do2.png" alt="DO₂ DesignDioxide"/><span class="fallback">DO₂ DesignDioxide</span></a></h1>
    <r:snippet name="navigation" />
    <r:if_parent><h1><r:title /></h1></r:if_parent>
    <r:content />
    <p class="footer">
      &copy;2009 DesignDioxide
    </p>
    
  </body>
</html>