<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><r:breadcrumb /> &mdash; merttorun.com</title>
    <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" title="no title" charset="utf-8">
  </head>
  <body>
    <h1 class="site"><a href="/">Mert Torun: <em>Product Designer</em></a></h1>
    <r:snippet name="navigation" />
    <h2><r:title /></h2>
    <r:content />
    <p class="footer">
      &copy;2009 Mert Torun. If you are really interested just contact me. 
    </p>
  </body>
</html>

