<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><r:breadcrumb /> &mdash; Nermin Sarıoğlu</title>
    <link rel="stylesheet" href="/stylesheets/ns.css" type="text/css" title="no title" charset="utf-8">
  </head>
  <body>
    <h1 class="site"><a href="/"><img src="/images/nerminsarioglu.png" alt="Nermin Sarıoğlu Creations"/><span class="fallback">Nermin Sarıoğlu Creations</span></a></h1>
    <r:if_parent><h1><r:title /></h1></r:if_parent>

    <div class='navigation'>
      <r:find url="/">
        <r:snippet name="navlist" />
      </r:find>
    </div>

    <r:content />
    <p class="footer">
      &copy;2009 Nermin Sarıoğlu — Mert Torun
    </p>
    
  </body>
</html>